.App {
  text-align: center;
}

.Home {
  text-align: center;
}

/* displays About page in a box with justified text*/
.About {
  border: 2px solid black;
  width: 600px;
  margin: 20px;
  padding: 20px;
  text-align: justify;
}

/* displays EmojiCards in a flexible grid */
.card-group {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  gap: 40px;
  font-size: xx-large;
}

/* adds border to EmojiCard */
.emoji-card {
  border: 2px solid black;
  border-radius: 8%;
  padding: 10px;
}

/* aligns Search and Filter components */
.search-filter-container {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

/* adds margin to the right of the Search component */
.search-filter-container > * {
  margin-right: 10px; 
}

/* removes underline from Link in EmojiCard */
.no-underline {
  text-decoration: none;
}

/* displays EmojiInfo as two-column grid */
.emoji-info-container {
  display: inline-grid;
  grid-template-columns: 0fr 4fr;
  grid-template-areas: 'emoji details';
  grid-gap: 1rem;
  border: 2px solid black;
  padding: 10px;
  margin: 30px;
}

/* increase emoji size in EmojiInfo */
#emoji-big {
  font-size: 4rem;
  grid-area: emoji;
}

/* stack EmojiInfo spans vertically */
.emoji-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-area: details;
}

/* add spacing in App and EmojiInfo */
.loading-bar {
  margin-left: 50px;
}

/* EmojiForm inputs */
.input-text {
  font-size: 18px;
  margin: 3px;
}

/* EmojiForm specs */
.container {
  border: 2px solid black;
  width: 200px;
  margin: 20px;
  padding: 20px
}

/* submit button in EmojiForm */
.submit {
  position: relative;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  font-size: 18px;
  justify-self: center;
  margin: 3px;
}