.App {
  text-align: center;
}

/* displays EmojiCards in a flexible grid*/
.card-group {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  gap: 40px;
  font-size: x-large;
}

/* adds border to EmojiCard */
.emoji-card {
  border: 2px solid black;
  padding: 10px;
}

/* aligns Search and Filter components */
.search-filter-container {
  display: flex;
  align-items: center;
}

/* adds margin to the right of the Search component */
.search-filter-container > * {
  margin-right: 10px; 
}