/* displays Navbar navlinks as row of boxes */
.navbar > a{
    display: inline-block;
    box-sizing: border-box;
    width: 80px;
    padding: 5px;
    margin: 0 6px 6px;
    background: lightblue;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: black;
}

/* changes color of Navbar navlinks when they are clicked */
a.active {
    background: black;
    color: white;
}